<article class="tile now-tile">
  <div class="status-top">
    <h2>What I&apos;m Doing</h2>
    <span class="dot" aria-hidden="true"></span>
  </div>
  <p id="status-message-text" class="status-message">
    Recently wrapped up a software engineering internship at Ericsson and now focusing on open source contributions.
  </p>
</article>
